<style>
  .bonus-label {
    flex-grow: 1;
    text-align: left;
    margin: auto 0.5rem;
  }

  .bonus-input {
    flex-grow: 1;
    width: inherit;
  }
</style> 

<div class="game-status">
  <label class="form-label bonus-label">Get extra 50 points, answer the bonus question</label>
  <input type="text" class="form-control bonus-input" onchange="@AnswerTheQuestion" />
</div>

@code {
  [Parameter] public EventCallback<string?> BonusAnswered { get; set; }

  private async Task AnswerTheQuestion(ChangeEventArgs e)
  {
    await BonusAnswered.InvokeAsync(e?.Value?.ToString());
  }
}
