@using HackathonX.Service

@if (Questionnaire != null)
{
  var index = 0;

  foreach(var question in Questionnaire)
  {
    var st = question.Id == CurrentQuestion?.Id ? "selected" : "";
    var t = question.Answered ? "flip" : "";
    <div class="puzzle-unit @st @t" @onclick="(async () => await QuestionSelected.InvokeAsync(question.Id))">
      <div class="flip-box-front">
        @(question.Id == CurrentQuestion?.Id ? question.Score : "?")
      </div>
      <div class="flip-box-back">
        @((question.Iscorrect && !string.IsNullOrEmpty(BonusWord)) ? BonusWord[index] : "*")
      </div>
    </div>
    index++;
  }
}

@code {
  [Parameter] public Question? CurrentQuestion { get; set; }
  [Parameter] public IEnumerable<Question>? Questionnaire { get; set; }
  [Parameter] public EventCallback<int?> QuestionSelected { get; set; }
  [Parameter] public string? BonusWord { get; set; }
}
