@page "/result"

@using HackathonX.DB.Model
@using HackathonX.DB.Repositories
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.EntityFrameworkCore
@*@inject XService TheService*@
@inject NavigationManager navManager
@inject IDbContextFactory<HackathonXContext> DbFactory

<style>
  .leaderboard {
    margin: 10rem auto 0;
    border: .1rem solid #d6d5d5;
    border-radius:10px;
    display:flex;
    flex-direction:column;
  }
</style>

<PageTitle>Leaderboard</PageTitle>

@if (_leaderboards == null)
{
    <p><em>Loading...</em></p>
}
else
{
  <div class="leaderboard">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Score</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in _leaderboards)
            {
                <tr>
                    <td>@item.Rank</td>
                    <td>@item.UserName</td>
                    <td>@item.Score</td>
                    <td>@item.Time</td>
                </tr>
            }
        </tbody>
    </table>
  </div>
}


@code {
  private IEnumerable<HackathonX.Web.Data.Leaderboard> _leaderboards = 
    new List<HackathonX.Web.Data.Leaderboard>
    {
      new HackathonX.Web.Data.Leaderboard
      {
        Rank = 1, UserName ="Alfred Hitchckock", Score = 500, Time = TimeSpan.FromSeconds(258).ToString(@"mm\:ss")
      },
      new HackathonX.Web.Data.Leaderboard
      {
        Rank = 2, UserName ="James Cameron", Score = 400, Time = TimeSpan.FromSeconds(188).ToString(@"mm\:ss")
      },
      new HackathonX.Web.Data.Leaderboard
      {
        Rank = 3, UserName ="George Lucas", Score = 460, Time = TimeSpan.FromSeconds(250).ToString(@"mm\:ss")
      },
      new HackathonX.Web.Data.Leaderboard
      {
        Rank = 4, UserName ="Steven Spielberg", Score = 400, Time = TimeSpan.FromSeconds(149).ToString(@"mm\:ss")
      },
      new HackathonX.Web.Data.Leaderboard
      {
        Rank = 5, UserName ="Martin Scorsese", Score = 360, Time = TimeSpan.FromSeconds(240).ToString(@"mm\:ss")
      },
      new HackathonX.Web.Data.Leaderboard
      {
        Rank = 6, UserName ="Guy Ritchie", Score = 300, Time = TimeSpan.FromSeconds(209).ToString(@"mm\:ss")
      }
    };

    protected override async Task OnInitializedAsync()
    {
      //var context = DbFactory.CreateDbContext();
      //using var repo = new LeaderboardRepository(context);

      //var leaderboards = await repo.GetLeaderboard();
      //var i = 0;
      //var result = new List<HackathonX.Web.Data.Leaderboard>();
      //foreach (var item in leaderboards)
      //{
      //    i++; 
      //    result.Add(new HackathonX.Web.Data.Leaderboard { Rank = 1, Score = item.Score, UserName = item.User.Name, Time = item.Time });
      //}

      //_leaderboards = result;
    }
}
