@using HackathonX.Web.Data

@if (Questionnaire != null)
{
  foreach(var question in Questionnaire)
  {
    var st = question.Id == CurrentQuestion?.Id ? "selected" : "";
    <div class="puzzle-unit @st" @onclick="(async () => await QuestionSelected.InvokeAsync(question.Id))">
      @(question.Id == CurrentQuestion?.Id ? question.Score : question.Id)
    </div>
  }
}

@code {
  [Parameter] public Question? CurrentQuestion { get; set; }
  [Parameter] public IEnumerable<Question>? Questionnaire { get; set; }
  [Parameter] public EventCallback<int?> QuestionSelected { get; set; }

  protected override bool ShouldRender()
  {
    return false;
  }
}
