@page "/game"

<PageTitle>Counter</PageTitle>

@if (_user == null || _questionnaire == null)
{
  <p><em>Loading...</em></p>
}
else
{
  <GameStatus CurrentUser="_user" Score="_score" TimeCounter="_timeCounter"/>
  <div class="battlefield">
    <div class="questionnaire">
        <QuestionnaireForm CurrentQuestion="_currentQuestion" AbsencePlanSubmitted="AnswerTheQuestion" />
    </div>
    <div class="puzzle">
        <Puzzle CurrentQuestion="_currentQuestion" Questionnaire="_questionnaire" QuestionSelected="SelectPuzzle" BonusWord="@_bonusWord" />
    </div>
  </div>
  @if (QuestFinished)
  {
    <BonusQuestion BonusAnswered="BonusQuestionAnswered" IsCorrect="@IsBonusQuestionCorrect" />
    <div class="finish">
      <button class="btn btn-primary finish-btn" onclick="@Finish">Finish and see results</button>
    </div>
  }
}
