@page "/"

<PageTitle>Index</PageTitle>

<div class="user-start">
  <EditForm Model="@_user" OnValidSubmit="Submit">
    <div class="form-group">
      <label>Your name:</label>
      <InputText id="name" class="form-control" @bind-Value="_user.Name" />
    </div>
    <div class="submit-button">
      <button class="btn btn-primary btn-play" type="submit">Play!</button>
    </div>
  </EditForm>
</div>
