@page "/results"

<PageTitle>Leaderboard</PageTitle>

@if (_leaderboards == null)
{
    <p><em>Loading...</em></p>
}
else
{
  <div class="leaderboard">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Score</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in _leaderboards)
            {
                <tr>
                    <td>@item.Rank</td>
                    <td>@item.User.Name</td>
                    <td>@item.Score</td>
                    <td>@(TimeSpan.FromTicks(item.Time).ToString(@"mm\:ss"))</td>
                </tr>
            }
        </tbody>
    </table>
  </div>
}
